body{
    background-color: red;
    margin: 0;
}
.logo{
    background-color: #f6f6f6;
    width: 112px;
    height: 41px;
}
header li{
    display: flex;
    /* color: white; */
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: white;
}
.navbar a{
    color: black;
}
i{
    color: white;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar li{
    margin: 0;
padding-inline-start: 20px;
padding-inline-end: 20px;

}
.navbar{
    border-radius: 15px;
    border-style: solid;
    border-color: #f6f6f6;
    border-width: 5px;
    background-color: #f6f6f6;
}
.top{
    display: flex;
    justify-content: center;
}
/* .top li{ */
    /* padding-inline-start: 20px;
    padding-inline-end: 20px; */
/* } */
/* .fa-brands{
    margin-right: 0;
    margin-left: 20px; */
/* } */

.top ul{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 100px;

   

}
.top li{
    padding-inline-start: 20px ;
    padding-inline-end: 20px ;
}
.top .fa-brands{
    display: flex;
    justify-content: right;
    padding: 10px;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top{
    position: absolute;
    bottom: 90%;
    top: 2%;
    left: 10%;
    right: 10%;
}
.imagecont{
    position: relative;
    text-align: center;
    color: white;
}
/* .top .fa-solid{
    text-align: left;
    display: flex;
    /* padding-right: 10px; */
/* } */ 